@use '../../scss/' as *;
.page-header {
    position: relative;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 8rem 0 2rem;
    text-align: center;
    & h2 {
        font-size: 1.5rem;
        position: relative;
        z-index: 99;
    }
    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0));
    }
}
